<h1>New person</h1>

<form id="new-person" name="person">
  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="phone"> phone:</label>
    <input type="text" name="phone" id="phone" value="<%= phone %>" >
  </div>

  <div class="field">
    <label for="mobile"> mobile:</label>
    <input type="text" name="mobile" id="mobile" value="<%= mobile %>" >
  </div>

  <div class="field">
    <label for="address_address1"> address_address1:</label>
    <input type="text" name="address_address1" id="address_address1" value="<%= address_address1 %>" >
  </div>

  <div class="field">
    <label for="address_address2"> address_address2:</label>
    <input type="text" name="address_address2" id="address_address2" value="<%= address_address2 %>" >
  </div>

  <div class="field">
    <label for="address_address3"> address_address3:</label>
    <input type="text" name="address_address3" id="address_address3" value="<%= address_address3 %>" >
  </div>

  <div class="field">
    <label for="address_city"> address_city:</label>
    <input type="text" name="address_city" id="address_city" value="<%= address_city %>" >
  </div>

  <div class="field">
    <label for="address_state"> address_state:</label>
    <input type="text" name="address_state" id="address_state" value="<%= address_state %>" >
  </div>

  <div class="field">
    <label for="address_zip"> address_zip:</label>
    <input type="text" name="address_zip" id="address_zip" value="<%= address_zip %>" >
  </div>

  <div class="field">
    <label for="address_country_code"> address_country_code:</label>
    <input type="text" name="address_country_code" id="address_country_code" value="<%= address_country_code %>" >
  </div>

  <div class="field">
    <label for="address_lat"> address_lat:</label>
    <input type="text" name="address_lat" id="address_lat" value="<%= address_lat %>" >
  </div>

  <div class="field">
    <label for="address_lng"> address_lng:</label>
    <input type="text" name="address_lng" id="address_lng" value="<%= address_lng %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Person" />
  </div>

</form>

<a href="#/index">Back</a>