<div class="row">
    <div class="col-xs-4">
        <i class="media-object img-circle glyphicon glyphicon-user" style="font-size:128px;"></i>
        <br/>
        <h4>Actions</h4>
        <a id="button-save-person"><button type="button" class="btn btn-default btn-md" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer</button></a><br/>
        <a id="button-back-person"><button type="button" class="btn btn-default btn-md" target="_blank"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler</button></a><br/>
    </div>
    <div class="col-xs-8">
        <h4>Informations</h4>
        <form class="form">
            <div class="form-group">
                <p>
                    <label for="person-first_name"><b>Prénom :</b></label>
                    <input type="text" class="form-control" id="person-first_name" name="first_name" placeholder="Prénom" value="<%= first_name %>"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-last_name"><b>Nom :</b></label>
                    <input type="text" class="form-control" id="person-last_name" name="last_name" placeholder="Nom" value="<%= last_name %>"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-email"><b>Email :</b></label>
                    <input type="text" class="form-control" id="person-email" name="email" placeholder="Adresse mail" value="<%= email %>"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-phone"><b>Téléphone :</b></label>
                    <input type="text" class="form-control" id="person-phone" name="phone" placeholder="Téléphone" value="<%= phone %>"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-mobile"><b>Mobile :</b></label>
                    <input type="text" class="form-control" id="person-mobile" name="mobile" placeholder="Mobile" value="<%= mobile %>"></input>
                </p>
            </div>
        </form>
    </div>
</div>