<div class="row">
    <div class="col-xs-4">
        <i class="media-object img-circle glyphicon glyphicon-user" style="font-size:128px;"></i>
        <br/>
        <h4>Actions</h4>
        <a id="button-save-person"><button type="submit" class="btn btn-default btn-md" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer</button></a><br/>
        <a id="button-back-person"><button type="button" class="btn btn-default btn-md" target="_blank"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Annuler</button></a><br/>
    </div>
    <div class="col-xs-8">
        <h4>Informations</h4>
        <form id="form-new-contact" class="form">
            <div class="form-group">
                <p>
                    <label for="person-first_name"><b>Prénom :</b></label>
                    <input type="text" class="form-control" id="person-first_name" name="person[first_name]" placeholder="Prénom" value="<%= first_name %>" type="text"
                           data-fv-notempty="true"
                           data-fv-notempty-message="Veuillez saisir un prénom."
                           required></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-last_name"><b>Nom :</b></label>
                    <input type="text" class="form-control" id="person-last_name" name="person[last_name]" placeholder="Nom" value="<%= last_name %>" type="text"
                           data-fv-notempty="true"
                           data-fv-notempty-message="Veuillez saisir un nom de famille."
                           required></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-email"><b>Email :</b></label>
                    <input type="text" class="form-control contact_info" id="person-email" name="person[email]" placeholder="Adresse mail" value="<%= email %>" type="text"
                           ></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-phone"><b>Téléphone :</b></label>
                    <input type="text" class="form-control contact_info" id="person-phone" name="person[phone]" placeholder="Téléphone" value="<%= phone %>" type="text"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-mobile"><b>Mobile :</b></label>
                    <input type="text" class="form-control contact_info" id="person-mobile" name="person[mobile]" placeholder="Mobile" value="<%= mobile %>" type="text"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person-homeaddress"><b>Adresse :</b></label>
                    <input type="hidden" class="form-control" id="person_home_address_attributes_id" name="person[home_address_attributes][id]" value="<%= ('id' in home_address) ? home_address.id : '' %>"></input>
                    <input type="text" class="form-control" id="person_home_address_attributes_address1" name="person[home_address_attributes][address1]" placeholder="Adresse - Ligne 1" value="<%= home_address.address1 %>"></input>
                    <input type="text" class="form-control" id="person_home_address_attributes_address2" name="person[home_address_attributes][address2]" placeholder="Adresse - Ligne 2" value="<%= home_address.address2 %>"></input>
                    <input type="text" class="form-control" id="person_home_address_attributes_address3" name="person[home_address_attributes][address3]" placeholder="Adresse - Ligne 3" value="<%= home_address.address3 %>"></input>
                    <input type="text" class="form-control pull-left" id="person_home_address_attributes_zip" name="person[home_address_attributes][zip]" placeholder="Code postal" value="<%= home_address.zip %>" style="width:30%;"></input>
                    <input type="text" class="form-control pull-right" id="person_home_address_attributes_city" name="person[home_address_attributes][city]" placeholder="Ville" value="<%= home_address.city %>" style="width:65%;"></input>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="person_notes"><b>Notes :</b></label>
                    <textarea class="form-control contact_info" id="person_notes" name="person[notes]" placeholder="Notes"><%= notes %></textarea>
                </p>
            </div>
        </form>
    </div>
</div>