<td><%= first_name %></td>
<td><%= last_name %></td>
<td><%= email %></td>
<td><%= phone %></td>
<td><%= mobile %></td>
<td><%= address_address1 %></td>
<td><%= address_address2 %></td>
<td><%= address_address3 %></td>
<td><%= address_city %></td>
<td><%= address_state %></td>
<td><%= address_zip %></td>
<td><%= address_country_code %></td>
<td><%= address_lat %></td>
<td><%= address_lng %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
