<a href="#<%= id %>" data-id="<%= people_id %>">
    <li class="media contacted-<%if(contacted){%>true<%}else{%>false<%}%>">
        <div class="media-left" style="width:45px;">
            <table>
                <tr>
                    <td style="padding-right: 10px;">
                        <input type="checkbox" name="people-checkbox" value="<%= id %>" data-email="<%= email %>" onclick='window.location.assign("#<%= id %>")' <%if(crm_checked){%>checked="checked"<%}%> >
                    </td>
                    <td>
                        <img class="media-object img-circle" src="<%= profile_image_url_ssl %>" alt="Photo de <%= full_name %>" width="32" height="32" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= full_name %></h4>
            <small>Membre du comité</small> <%if(!contacted){%><small class="label label-primary pull-right">A CONTACTER</small><%}%>
        </div>
    </li>
</a>