<p>
  <b>First name:</b>
  <%= first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= last_name %>
</p>

<p>
  <b>Email:</b>
  <%= email %>
</p>

<p>
  <b>Phone:</b>
  <%= phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= mobile %>
</p>

<p>
  <b>Address address1:</b>
  <%= address_address1 %>
</p>

<p>
  <b>Address address2:</b>
  <%= address_address2 %>
</p>

<p>
  <b>Address address3:</b>
  <%= address_address3 %>
</p>

<p>
  <b>Address city:</b>
  <%= address_city %>
</p>

<p>
  <b>Address state:</b>
  <%= address_state %>
</p>

<p>
  <b>Address zip:</b>
  <%= address_zip %>
</p>

<p>
  <b>Address country code:</b>
  <%= address_country_code %>
</p>

<p>
  <b>Address lat:</b>
  <%= address_lat %>
</p>

<p>
  <b>Address lng:</b>
  <%= address_lng %>
</p>


<a href="#/index">Back</a>