<div id="content-sidebar" class="col-xs-12 col-sm-4">

  <h1>Mes contacts</h1>
  <div class="text-center">
    <%= link_to '<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Ajouter un contact"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>'.html_safe, "#", id: "button-add-contact" %>
    <%= link_to '<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Envoyer un mail à tous les membres de mon comité"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>'.html_safe, "#{current_user.email}&bcc=#{@children.map(&:email).join(",")}", id: "button-email-comite-contact", target: "_blank" %>
    <%= link_to '<button type="button" class="btn btn-default btn-lg" data-toggle="tooltip" data-placement="bottom" title="Envoyer un mail aux personnes cochées ci-dessous"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>'.html_safe, "#{current_user.email}&bcc=", id: "button-email-select-contact", target: "_blank" %>
    <br/><br/>
  </div>
  <div class="text-center loading">
    <%= image_tag "loading.gif", class: "loading", width: "64", height:"64" %>
    <p><small>Récupération des données...</small></p>
  </div>
  <div id="people"></div>



</div>

<div id="content-details" class="col-xs-12 col-sm-8">
  <div id="dashboard">
    <h3>Statut de mon comité</h3>
    <div class="row">
      <div id="dashboard-stats-1" class="col-xs-4 text-center">
        <i class="glyphicon glyphicon-user" style="font-size: 50px;"></i>
        <h5><%= @children.count %></h5>
        <p>Membres dans mon comité</p>
      </div>
      <div id="dashboard-stats-2" class="col-xs-4 text-center">
        <i class="glyphicon glyphicon-ok" style="font-size: 50px;"></i>
        <h5><%= @children.where("contacted = ?", false).count %></h5>
        <p>Personnes à contacter</p>
      </div>
      <div id="dashboard-stats-3" class="col-xs-4 text-center">
        <i class="glyphicon glyphicon-flash" style="font-size: 50px;"></i>
        <h5>1</h5>
        <p>Objectif en cours</p>
      </div>
    </div>
    <h3>Mes objectifs</h3>
    <h5>Objectif n°1 : Recruter 15 membres</h5>
    <% total_membres = [@children.count, 15].min %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="<%= total_membres %>"
           aria-valuemin="0" aria-valuemax="15" style="width: <%= (total_membres / 15.0) * 100 %>%;">
        <% if total_membres >= 15 %>
            Objectif de 15 membres atteint, bravo !
        <% else %>
            Encore <%= 15 - total_membres %> membres à recruter !
        <% end %>
      </div>
    </div>
  </div>
  <div id="person-loading" class="text-center loading hidden">
    <%= image_tag "loading.gif", class: "loading", width: "64", height:"64" %>
    <p><small>Récupération des données...</small></p>
  </div>
  <div id="person" class="hidden">
  </div>
</div>

<script type="text/javascript">
  $(function() {

    window.loadingGif = new Image();
    window.loadingGif.src = 'images/loading.gif';

    window.params = {
      email: "<%= current_user.email %>",
      baseUrl: "https://mail.google.com/mail/?authuser=<%= current_user.email %>&view=cm&fs=1&to=",
      semaphore: {
        updates: false
      }
    };

    window.functionsAjxCrm = {
      getHome: function() {
        $("#dashboard").removeClass("hidden");
        $("#person").addClass("hidden");
        $("#people").find("li").removeClass("selected");
        $.getJSON('/people', function( data ) {
          $("#dashboard-stats-2 > h5").html((data.filter(function (el) {
            return el.contacted
          }).length));
        });
      }
    }

    window.generateEmailLink = function(dest_mail) {
      return window.params["baseUrl"]+dest_mail;
    };

    $(function() {
      $("#button-email-comite-contact").attr("href", window.generateEmailLink($("#button-email-comite-contact").attr("href")));
      $("#button-email-referent-contact").attr("href", window.generateEmailLink($("#button-email-referent-contact").attr("href")));
      $("#button-email-support-contact").attr("href", window.generateEmailLink($("#button-email-support-contact").attr("href")));
      $("#button-email-select-contact").attr("href", window.generateEmailLink($("#button-email-select-contact").attr("href")));

      //$("#button-home").on("click", function() {
      //  window.functionsAjxCrm.getHome();
      //  return false;
      //});

      $("#button-email-select-contact").on("click", function() {
        var emails=[];
        $("input[name='people-checkbox']:checked").each(function(){
          emails.push(window.peopleCollection.get({"people_id" : $(this).val()}).get("email"));
        });
        if (emails.length > 0) {
          window.open($("#button-email-select-contact").attr("href") + emails.join(","), "_blank");
        }
        else {
          alert("Erreur : Veuillez d'abord au moins sélectionner une personne !");
        }
        return false;
      });

      $('[data-toggle="tooltip"]').tooltip()
    });

    $("#button-add-contact").on("click", function() {
      var blankPerson = new StaticFiles.Models.Person();
      window.stopZombies(window.personView);
      window.personView = new StaticFiles.Views.People.NewView({el: '#person', model: blankPerson});
      window.personView.render();
      $("#dashboard").addClass("hidden");
      $("#person-loading").addClass("hidden");
      $("#person").removeClass("hidden");
      return false;
    });

    window.peopleCollection = new StaticFiles.Collections.PeopleCollection();

    window.peopleCollection.fetch({
      success: function (peopleCollection, response) {
        window.peopleView = new StaticFiles.Views.People.IndexView({el: '#people', collection: peopleCollection});
        window.peopleView.render();
      }
    });

    window.stopZombies = function(objView){
      if(typeof objView === "object"){
        objView.undelegateEvents();
        $(objView.el).empty();
      }
    };

  });
</script>