<div id="header" class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <%= image_tag("logo_baseline.png", alt: "Alain Juppé 2017 Pour La France", style: "width: 50%;") %>
      <div id="alert-messages">
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="text-center">
        <%= link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accueil</button>'.html_safe, "#", id: "button-home" %>
        <%= link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Ecrire à tous les membres de mon comité</button>'.html_safe, "COMITE@alainjuppe2017.fr", id: "button-email-comite-contact", target: "_blank" %>
        <%= link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contacter mon référent régional</button>'.html_safe, "#{@parent.email}", id: "button-email-referent-contact", target: "_blank" %>
        <%= link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Contacter le support</button>'.html_safe, "support@agispourlafrance.fr", id: "button-email-support-contact", target: "_blank" %>
        <%= link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Déconnexion</button>'.html_safe, destroy_user_session_path, :method => :delete %>
      </div>
    <% end %>
  </div>
</div>
<br/>