<!DOCTYPE html>
<html>
<head>
  <title>Boîte à outils - AJ pour la France !</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="content" class="container">
  <div class="row">
    <div class="col-xs-12">

      <%= render 'layouts/header' %>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<footer id="footer" class="footer container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <small class="text-muted">© CAPAJ POUR LA FRANCE - Développé par Maxime Alay-Eddine et Vincent Algayres - support@alainjuppe2017.fr</small>
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72024732-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
